body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
  background-image: url(img/bluesky2020.12.png);
  background-size: cover;
  height: 160px;
}
header h1 {  
  margin: 0;
  font-size: 16px;
  padding-top: 32px;
  padding-left: 16px;
}
header p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: end;
  padding-right: 48px;
}
nav {
  background-color: blue;
}
ul {
  margin: 0;
  list-style: none;
}
li {
  height: 32px;
  margin: 0;
}
nav a {
  display: block;
  text-decoration: none;
  color: #fff;
}

nav div {  
  height: 48px;
  padding-left: 16px; 
  border: 1px solid skyblue;
  cursor: pointer;
}
nav p {
  margin: 0;
  line-height: 48px;
  color: #fff;
}
nav div:hover {
  opacity: 0.8;
}
nav section {
  display: none;
}
nav section.show {
  display: block;
}
nav div.active {
  height: 215px;
}
main {
  margin: 0;
  padding: 32px;
  background-color: mistyrose;
}
article {
  margin-bottom: 32px;
}
article section {
  margin-bottom: 32px;
}
article h1 {
  font-size: 18px;
}
article h2 {
  font-size: 14px;
}
article p {
  font-size: 14px;
  line-height: 1.35rem;
}
.profile {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
}
.profile-img img {
  display: inline;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0;
}
.profile-img {
  width: 140px;
  margin: 0 auto;
  text-align: center;
}
.profile-img h1 {
  margin: 0px;
}
.profile-comment {
  line-height: 28px;
}
.profile p {
  font-size: 14px;
  line-height: 1.35rem;
}
footer {
  margin: 0;
  height: 60px;
  background-color: #432;
  text-align: center;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.05rem;
  line-height: 60px;
}
span {
  display: block;
  font-size: 32px;
  color: #432;
  opacity: 0;
  transition: opacity 0.5s;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-items: right;
  margin-bottom: 10px;
}
.button-container span:nth-child(1) {
  animation: play1 3s;
  animation-iteration-count: infinite;
}
@keyframes play1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.button-container span:nth-child(2) {
  animation: play2 3s;
  animation-iteration-count: infinite;
}
@keyframes play2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.button-container span:nth-child(3) {
  animation: play3 3s;
  animation-iteration-count: infinite;
}
@keyframes play3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button {
  padding: 4px 8px;
  margin-left: 16px;
  background-color: #432;
  border-radius: 4px;
}

.button a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width:510px) {
  header {
    height: 180px;
  }
  header h1 {
    font-size: 24px;
    padding-top: 120px;
  }
  nav {
    display: flex;
  }
  nav div:nth-child(1) {
    width: 205px;
    border: none;
  }  
 nav div:nth-child(2) {
    width: calc(100% - 205px);
    border: none;
  }
  
}
@media (min-width: 650px) {
  .profile {
    display: flex;
    justify-content: space-between;
  }
  .profile-img {
    padding-right: 32px;
  }
}
@media (min-width: 950px) {
  header h1 {
    padding-left: calc((100% - 950px) / 2 + 16px);
  }
  header p {
    padding-right: calc((100% - 950px) / 2 + 48px) ;
  }
  nav {
    padding-left: calc((100% - 950px) / 2);
  }
  .profile {
    width: 870px;
    margin: 0 auto;
  }
  article {
    width: 870px;
    margin: 0 auto;
  }
  
}
